{% extends "days/base.html" %}
{% block content %}
<div class="container text-center">
    <div class="row">
        <div class="col-8">
            <h3>Для наполения текста я попросил CHATGPT помочь, вот что он предложил:</h3>
            <p>Отличная идея! Сейчас сгенерирую тематические картинки для каждого дня недели. 🚀</p>
            <ul>Тематика картинок:
                <li>Понедельник – Утренний кофе, начало рабочей недели</li>
                <li>Вторник – Активный день, продуктивность</li>
                <li>Среда – Середина недели, баланс</li>
                <li>Четверг – Близится выходной, ожидание</li>
                <li>Пятница – Вечеринка, отдых</li>
                <li>Суббота – Природа, релакс</li>
                <li>Воскресенье – Спокойствие, уютный вечер</li>
            </ul>
        </div>
        <div class="col-4">
            <h5>Если хотите узнать текущий день недели - press THE BUTTON</h5>
            {% for x in all_days %}
            {% if x.num == today %}
            <a href="{{ x.link }}" class="btn btn-primary btn-lg">THE BUTTON</a>
            {% endif %}
            {% endfor %}
            <h5>Для просмотра всех остальных дней - используйте навигацию "All days"</h5>
        </div>
    </div>
</div>


{% endblock %}